<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="main">
<body>
<section layout:fragment="content">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-area-chart"></i> Add Project
        </div>
        <div class="card-body">
            <div th:fragment="add-form-project">
                <div>
                    <label th:for="name">Name</label>
                    <p th:input type="text" placeholder="Name">
                        <input th:field="*{name}"/>
                    <p th:errors="*{name}"></p>
                </div>
                <div>
                    <label th:for="description">Description</label>
                    <p th:input type="text" placeholder="Description">
                        <input th:field="*{description}"/>
                    <p th:errors="*{description}"></p>
                </div>
                <div>
                    <label th:for="activity">Activity</label>
                    <p th:input type="text" placeholder="Activity">
                        <input type="checkbox" th:field="*{activity}"/>
                    <p th:errors="*{activity}"></p>
                </div>
                <div>
                    <label th:for="users">Users</label>
                    <p th:input type="text" placeholder="users">
                        <select th:field="*{users}" multiple="true">
                            <option th:each="user : ${usersList}"
                                    th:value="${user.id}"
                                    th:text="${user.lastName}"/>
                        </select>
                    <p th:errors="*{users}"></p>
                </div>
                <input type="hidden" th:field="*{id}"/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>