<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="main">
<body>
<section layout:fragment="content">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-area-chart"></i> Project List
        </div>
        <div>
            <a th:href="@{/project/add}">ADD Project</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tr>
                        <th>Id</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Activity</th>
                        <th>Users</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="project: ${listProject}">
                        <td th:text="${project.id}"/>
                        <td th:text="${project.created}"/>
                        <td th:text="${project.updated}"/>
                        <td th:text="${project.name}"/>
                        <td th:text="${project.description}"/>
                        <td th:text="${project.activity}"/>
                        <td>
                            <span th:each="user: ${project.users}">
                                <b th:text="${user.lastName}"/>
                            </span>
                        </td>
                        <td>
                            <a th:href="@{/project/delete/{id}/(id=${project.id})}">DELETE</a>
                            <a th:href="@{/project/update/{id}/(id=${project.id})}">EDIT</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>